.table-container {
    width: 100%; /* Takes the full width of the parent container (.main-content) */
    max-width: 60%; /* Maximum width is 60% of the viewport width */
    margin: auto; /* Centers the table */
    margin-top: 5%;
    padding: 20px;
    border-radius: 8px;
    background-color: #1e1e1e;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    color: white;
  }
  
  thead {
    background-color: #333;
  }
  
  th, td {
    text-align: left;
    padding: 12px 16px;
    border-bottom: 1px solid #444;
  }
  
  th {
    position: sticky;
    top: 0;
  }
  
  tbody tr:hover {
    background-color: #292929;
  }
  
  button {
    background-color: #4a4a4a;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #626262;
  }
  